/**
 * Basic typography style for copy text
 */

body {
    color: $dark-color;
    font: normal 16px / 1.4 $text-font-stack;
}

h1 {
    color: $brand-color;
}

h2 {
    font: italic 4em / 1.5 $sub-font-stack;
    /* style size / line-height family */
}


/**************************************** 
 LINKS
*****************************************/

/**
 * MAIN LINKS:
 * Links (must be placed in this order to allow styles to properlycascade)
 */

a {
    text-decoration: none;
    &:link,
    &:visited {
        color: inherit;
    }
    &:hover {
        text-decoration: none;
        font-weight: 600;
        color: inherit;
    }
    &:active {
        color: inherit;
        font-weight: 600;
    }
}

.active {
    color: inherit;
    font-weight: 600;
}

/**
  * LINK MODIFIERS:
  * 1. Adds border around link
  * 2. Makes text dark
**/

a {
    &.text__link {
        /* 1 */
        position: relative;
        color: inherit;
        text-decoration: none;
        &::before {
            content: "";
            position: absolute;
            top: -5%;
            left: -7%;
            border: 13px solid $dark-color;
            bottom: -2.2%;
            right: -7%;
        }
    }
    &.text__link--dark {
        /* 2 */
        color: $dark-color;
    }
}