// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/**************************************** 
  MAIN NAVBAR (top)
*****************************************/

.navbar {
    border-radius: 0;
    padding-top: 103px;
    padding-bottom: 25px;
    margin-bottom: 0;
}